$font-1: 'Montserrat', sans-serif;

$primary: #FF6060;

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-1;
  font-size: 18px;
  color: $primary;
}

.header, .home, .about, .house, .error {
  margin-left: 100px;
  margin-right: 100px;
  @media screen and (max-width: 742px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}