.error {
  text-align: center;
  padding-bottom: 100px;
  h1 {
    font-size: 16em;
    margin: 0;
  }
  h2 {
    font-size: 2em;
    margin: 0 0 182px 0;
  }
  a {
    text-decoration: underline;
  }
}