.house {
  margin-bottom: 20px;
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 26px;
  }
  h2 {
    font-size: 2em;
    font-weight: 500;
    margin: 0;
  }
  h3 {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
  }
  .owner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    .host-name {
      width: 80px;
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
  .house-description {
    display: flex;
    justify-content: space-between;
    gap: 96px;
    font-size: 1em;
  }
  @media screen and (max-width: 742px) {
    .content, .house-description {
     flex-direction: column;
    }
    span {
      font-size: 12px;
    }
  }

}